<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/todos']">Back</a>
</div>


<mat-card style="height: 60%">

  <mat-list>
    <mat-list-item>
      <h3 mat-line>Name</h3>
      <p mat-line>
        <span>{{todo.name}}</span>
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <h3 mat-line>Description</h3>
      <p mat-line>
        <span>{{todo.description}}</span>
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <h3 mat-line>Created</h3>
      <p mat-line>
        <span>{{todo.created | date: 'd/M/yy, h:mm a'}}</span>
      </p>
    </mat-list-item>
  </mat-list>
  <mat-divider></mat-divider>

  <mat-card-actions style="padding-top: 5%">
    <!--<a mat-raised-button color="primary" (click)="openEditTodoDialog(todo)">-->
    <!--<mat-icon>edit</mat-icon>-->
    <!--</a>-->
    <a mat-raised-button color="warn" (click)="deleteTodo()">
      <mat-icon>delete</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
